<a href="https://colab.research.google.com/github/Prakash544/ML/blob/master/Practice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a python program to check if all dictionaries in a list are empty or not

In [1]:
my_list1 = [{},{},{}]
my_list2 = [{123,23423},{},{}]
print(all(not d for d in my_list1))
print(all(not d for d in my_list2))

True
False

2.Write a python program to remove duplicates from a list of lists.

In [3]:
import itertools

num = [[110,120],[240],[330,456,425],[310,220],[133],[240],[330]]
print("Original List", num)
num.sort()
new_num = list(num for num,_ in itertools.groupby(num))
print("New List", new_num)

Original List [[110, 120], [240], [330, 456, 425], [310, 220], [133], [240], [330]]
New List [[110, 120], [133], [240], [310, 220], [330], [330, 456, 425]]

3.Write a python program to extend a list without append.

In [5]:
x = [103,321,430]
y = [110,503,203,101]
x[:0] = y
print(sorted(x))

[101, 103, 110, 203, 321, 430, 503]

4.Write a python program to find the list in a list of lists whose sum of elements is the highest.

In [7]:
num = [[1,2,3],[4,5,6],[13,2,4],[7,8,9]]
print(max(num, key=sum))

[7, 8, 9]

5.Write a python program to access dictionary key's element by index.

In [9]:
num = {'stats': 80, 'math':90, 'algorithm': 87}
print(list(num)[1])

math

6.Write a python program to iterate over two lists simultaneously.

In [10]:
num = [1,2,3]
color = ['red','while','black']
for (a,b) in zip(num, color):
  print(a,b)

1 red
2 while
3 black

7.Write a program to insert a string at begining of every elements in a list.

In [11]:
a = [100,123,343,545,456,786]

print(['customer{0}'.format(i) for i in a])

['customer100', 'customer123', 'customer343', 'customer545', 'customer456', 'customer786']

8.Write a program to take two lists and print if they have at least one common member.

In [14]:
def common_data(list1, list2):
  result = False
  for x in list1:
    for y in list2:
      if x == y:
        result = True
        return result

print(common_data([121,234,435,454],[342,445,654,231]))
print(common_data([1,3,4,3],[3,4,2]))

None
True

9.Wrie compute all permutations in a list.

In [15]:
import itertools
print(list(itertools.permutations([12,22,24])))

[(12, 22, 24), (12, 24, 22), (22, 12, 24), (22, 24, 12), (24, 12, 22), (24, 22, 12)]